.banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 252px;
  text-align: center;
}

.banner-secundario {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.banner img {
  width: 328.81px;
  height: 317.917px;
  height: auto;
  margin-bottom: 10px;
}

.banner h2 {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-family: Lexend;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner p {
  color: #000;
  font-size: 26px;
  font-family: Lexend;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Button-nosotros {
  display: flex;
  width: 260px;
  font-size: 20px;
  font-family: Lexend;
  height: 61px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--secundario-2, #8BC7C6);
}
.cards{
  padding: 90px;
}